.bio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'photo content'
}

.photo {
    grid-area: photo;
    justify-self: center;
    align-self: center;
}

.content {
    grid-area: content;
}